{erl_opts, [debug_info]}.
{cover_enabled, true}.

{port_specs,[
    {"priv/iconv_enode", ["c_src/iconv_enode.c"]}
]}.

{port_env,[
  {"CC", "clang"},
  {"CFLAGS", "-D_REENTRANT=PTHREADS"},
  {"LDFLAGS", "-lerl_interface -lei -lpthread"}
]}.

{deps, [
       {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}}
       ]}.

{dist_node, [
    {name , 'eiconv@localhost'}
]}.

{plugins, [
    {pc, {git, "https://github.com/blt/port_compiler.git", {branch, "master"}}}
]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.
