{ erl_opts, [
    {src_dirs, ["src"]},
    warnings_as_errors,
    debug_info
]}.

{ cover_enabled, true}.

{ port_specs,[
    {"priv/iconv_enode", ["c_src/iconv_enode.c"]}
]}.

{ port_env,[
    {"CFLAGS", "$CFLAGS  -D_REENTRANT=PTHREADS"},
    {"linux", "LDFLAGS", "$LDFLAGS -lpthread"}
]}.

{erl_opts, [debug_info]}.
{deps, [
       {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}}
       ]}.

{dist_node, [
    {name , 'eiconv@localhost'}
]}.